<footer>
    <% if (locals.isLogged) { %>
        <section>
            <nav class="navbar container">
                <ul>
                    <li>
                        <a class="navbar__link" href="/shop">SHOP</a>
                    </li>
                    <li>
                        <a class="navbar__link" href="/auth/register">REGISTRARSE</a>
                    </li>
                    <li>
                        <a class="navbar__link" href="/auth/login">INGRESAR</a>
                    </li>
                    <li>
                        <a class="navbar__link" href="/contact">CONTACTO</a>
                    </li>
                </ul>
                <picture>
                    <img src="/img/branding/isotype.svg" alt="Isologotipo de Funkoshop">
                </picture>
            </nav>
        </section>
        <p class="copy">All rights reserved 2023 - Funkoshop &copy;</p>
        <% } else { %>
            <section>
                <nav class="navbar container">
                    <ul>
                        <li>
                            <a class="navbar__link" href="/shop">SHOP</a>
                        </li>
                        <li>
                            <a class="navbar__link" href="/auth/login">INGRESAR</a>
                        </li>
                        <li>
                            <a class="navbar__link" href="/contact">CONTACTO</a>
                        </li>
                    </ul>
                    <picture>
                        <img src="/img/branding/isotype.svg" alt="Isologotipo de Funkoshop">
                    </picture>
                </nav>
            </section>
            <p class="copy">All rights reserved 2023 - Funkoshop &copy;</p>
            <% } %>
</footer>