.searchtool__container {
    margin-top: 36px;
    margin-right: 739px;
    margin-bottom: 36px;
}

.searchtool__content {
    display: flex;
    align-items: center;
}
.searchtool__button {
    border:none;
    background: none;
}

.searchtool__image {
    width: 42px;
    height: 42px;
}

.searchtool__form {

}

input::placeholder {
    font-size: var(--font-xsmall);
    font-style: normal;
    font-weight: 500;
  }

  .list__container {

  }

  .list__content {
    display: flex;
    align-items: center;
  }

  .list__title {
    font-family: var(--alternative-font);
    font-size: 42px;
    line-height: normal;
    letter-spacing: 1.68px;
    margin-right: 386px;
    margin-bottom: 34px;
  }

  .list__text {
    text-align: right;
    font-family: var(--base-font);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.96px;
    margin-bottom: 44px;
  }

.list__button {
    text-align: center;
    font-family: var(--base-font);
    width: 52px;
    height: 52px;
    font-size: 48px;
    font-weight: 700;
    color: white;
    border: none;
    background-color: #FF3333;
    margin-left: 22px;
    margin-bottom: 32.5px;
    border-radius: 5px;
}

.list__table__container { 

}

.list__table__heading {

}

.list__table__text {
  text-align: right;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.96px;
}

.list__table__notext {
  color:white;
}

.list__table__itemscolor {
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 253.523%; /* 60.845px */
  letter-spacing: 0.96px;
}
